[Unit]
Description=DirectGate Agent
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=<username>
WorkingDirectory=<home>
LogsDirectory=directgate
LogsDirectoryMode=0755

Environment=DISPLAY=:0
Environment="XAUTHORITY=<xauthority>"

ExecStartPre=/bin/sh -c 'test -f "<home>/.config/directgate/agent.json"'
ExecStart=<exec>

Restart=always
RestartSec=3
StartLimitBurst=20
StartLimitIntervalSec=80

NoNewPrivileges=false
PrivateTmp=true
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target
